@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

:root {
    --primary-color: #1A3C40;
    --secondary-color: #307672;
    --black-secondary-color: #282828;
}

body {
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif !important;
}

p, a {
    font-family: 'Raleway', sans-serif !important;
}

/* Navbar stuff */
.toggleNav {
    display: block !important;
}

.toggleRotate {
    transform: rotate(180deg);
}

.toggleSort {
    display: none !important;
}

.navbar-logo {
    height: 100px;
    width: 140px;
}

/* Custom colors */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-black-secondary {
    background-color: var(--black-secondary-color);
}

/* Carousel stuff */
 .glider-next {
    right: 40px !important;
}

.glider-prev {
    left: 40px !important;
} 

.glider-next-products {
    position: absolute;
    margin-top: -250px;
    right: 40px;
}

.glider-prev-products {
    position: absolute;
    margin-top: -250px;
    left: 40px;
}

/* Tablet devices */
@media (min-width: 768px) {
    .glider-next {
        right: 40px !important;
    }
    
    .glider-prev {
        left: 40px !important;
    }

    .glider-next-products {
        margin-top: -250px;
        right: 10px;
    }
    
    .glider-prev-products {
        margin-top: -250px;
        left: 10px;
    }

}

/* Mobile devices */
@media (min-width: 300px) {
    .glider-next {
        right: 20px !important;
    }
    
    .glider-prev {
        left: 20px !important;
    }

    .glider-next-products {
        margin-top: -180px;
        right: 5px;
    }
    
    .glider-prev-products {
        margin-top: -180px;
        left: 5px;
    }
}