/* .sidenav */
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #304f52;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
}

#pageContent {
    transition: margin-left 0.5s;
    padding: 16px;
}

#pageHeader {
    transition: margin-left 0.5s;
}

/* end of .sidenav */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidenav {
        padding-top: 100px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .sidenav {
        width: 200px;
    }
    #sideNavBurger {
        visibility: hidden;
    }
    #pageContent {
        margin-left: 200px;
    }
    #pageHeader {
        margin-left: 200px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
